// 模块样式
.info {
  margin: 16px;
  border: 1px solid #b3b6b9;
  border-radius: 4px;
  background: #ffffff;
  :global(.ant-card-body) {
    padding: 32px 120px;
  };
  :global(.antd-pro-description-list-term) {
    min-width: 82px;
    padding-bottom: 32px;
    padding-left: 12px;
    text-align: right;
  }
  :global(.ant-card-head) {
    border-radius: 4px;
  }
}