.aside{

    height: 100%;
    top: 0px;
    transition: right .5s;
    position: relative;
    padding: 20px 15px;

    :global(.kts-aside){

        border-left: 1px solid #dbdddf;
        height: 100%;
        position: relative;
        box-shadow:2px 2px 5px #ddd;

        :global(.kts-aside-title) {
            font-size: 16px;
            font-weight: bolder;
            height: 40px;
            line-height: 20px;
            background: #404d64;
            position: absolute;
            width: 100%;
            color: #f0f2f6;
            padding: 10px 15px;
        }

        :global(.kts-aside-container) {
            padding-top: 40px;
            background: #FFF;
            height: 100%;z

            :global(.kts-aside-panel) {
                height: 100%;
                overflow-x: hidden;
                overflow-y: auto;
            }
        }

        :global(.kts-aside-close) {
            position: absolute;
            right: 15px;
            top: 10px;
            display: inline-block;
            color: #b0b3b7;
            :global(.anticon-close){
                font-size: 16px;
            }
        }
    }
}