*{
    margin: 0;
    padding: 0;
}
  
img {
    border: 0;
    vertical-align: middle
}
  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
ul li{  
    list-style-type:none;  
}  
//hulk 的样式
.hide{
    display: none !important;
}
.mr10{
    margin-right: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
//hulk 样式结束