// 模块样式
.modules {
  margin: 0 auto;
  background: #ffffff;
  padding: 12px;
  margin-top: 12px;
  :global(.ant-card-head) {
    border: none;
    padding: 0px;
  }
  :global(.ant-card-body) {
    padding: 0px;
  }
}
.group {
  &-formitem {
    display: flex !important;
    :global(.ant-form-item-label) {
      width: 98px;
    }
    &-match {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        margin-right: 6px;
        width: 6px;
        height: 6px;
        border-radius: 3px;
      }
    }
    &-success {
      background: #009944;
    }
    &-error {
      background: #FF0000;
    }
  }
  &-handler {
    margin-right: 12px;
  }
}