// 模块样式
.modules {
  margin: 0 auto;
  background: #ffffff;
  padding: 12px;
  margin-top: 12px;
}
.group {
  &-formitem {
    display: flex !important;
    :global(.ant-form-item-label) {
      width: 98px;
    }
  }
  &-handler {
    margin-right: 12px;
  }
}