// 模块样式
.modules {
  margin: 19px 15px 20px 16px;

  // 全局样式
  // :global(.app) {
  //  margin: 0 auto;
  //}
}
.invoice {
  &-card {
    :global(.ant-card-head) {
      margin-bottom: 0px;
      border-bottom: 1px solid #DBDDDF;
    }
    :global(.ant-card-body) {
      padding: 0px;
    }
    :global(.ant-form) {
      padding: 17px 14px;
      background:rgba(245,247,248,1);
    }
    :global(.ant-form label) {
      font-size: 12px;
    }
    :global(.ant-table-thead > tr > th) {
      padding: 8px 32px;
      white-space: nowrap;
      background: rgba(245,247,248,1);
    }
    :global(.ant-table-tbody > tr:hover > td) {
      background: rgba(203,211,219,1);
    }
    :global(.ant-table .ant-table-row-indent + .ant-table-row-expand-icon) {
      margin-right: 0px;
    }
    :global(.ant-table .ant-table-row-level-1 .ant-table-row-indent + .ant-table-row-expand-icon) {
      width: 0px;
      height: 0px;
      margin-right: 0px;
    }
    &-button {
      height: 25px;
    }
    &-hander {
      height: 60px !important;
      padding: 0px 14px;
      line-height: 60px;
      background: rgba(245,247,248,1);
    }
    &-but31 {
      height: 31px;
    }
    &-but-width63 {
      width: 64px;
    }
  }
  &-filter {
    :global(.ant-col-6) {
      width: 62px;
      line-height: 24px;
      text-align: left;
    }
    :global(.ant-input) {
      height: 24px;
      font-size: 12px;
    }
    :global(.ant-input-number-input) {
      height: 24px;
      font-size: 12px;
    }
    :global(.ant-select-selection--single) {
      height: 24px;
    }
    :global(.ant-select-selection__rendered) {
      line-height: 24px;
    }
    :global(.ant-input-number) {
      height: 24px;
      line-height: 24px;
      overflow: hidden;
    }
    :global(.ant-form-item) {
      margin-bottom: 14px;
    }
    :global(.ant-form-item-control) {
      line-height: 24px;
    }
    :global(.ant-btn) {
      height: 25px;
      font-size: 12px;
    }
  }
}